<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/x-icon" href="../img/logo.ico" />
    <link rel="stylesheet" href="../style/qrinfo.css" />

    <script defer type="text/javascript" src="/eel.js"></script>
    <script defer type="text/javascript" src="../script/qrinfo.js"></script>
    <script defer type="text/javascript" src="../script/index.js"></script>

    <title>QRinfo</title>
  </head>
  <body>
    <header>
      <a href="../index.html">
        <img class="home" src="../img/home-50.svg" alt="Home" />
      </a>
      <img class="logo" src="../img/logo.png" alt="logo" />
      <a href="../index.html">
        <div class="app-name">QR<span id="qr-info"> </span>info</div>
      </a>
    </header>
    <div class="site-name-container">
      <span class="container-heading">URL</span>
      <a id="site-name" target="_blank" href="#"></a>
    </div>
    <div class="site-info">
      <span class="container-heading">WEBSITE INFORMATION</span>
      <p id="data"></p>
    </div>
    <div id="note-container"></div>
  </body>
</html>
