<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/x-icon" href="./img/logo.ico" />
    <link rel="stylesheet" href="./style/index.css" />

    <script defer type="text/javascript" src="/eel.js"></script>
    <script defer type="text/javascript" src="/script/index.js"></script>

    <title>QRinfo</title>
  </head>
  <body>
    <header>
      <img class="logo" src="./img/logo.png" alt="logo" />
      <div class="app-name">QR<span id="qr-info"> </span>info</div>
    </header>

    <div class="main">
      <div class="qr-container">
        <img id="qr" class="qr" src="./img/logo.png" />
      </div>
      <div class="button-container">
        <div id="select-file" class="div-button">Select QR</div>
        <div id="scan-button" class="div-button">Scan QR</div>
      </div>
    </div>
  </body>
</html>
